/* reservations.css */

/* Background settings */
body {
  background: url(../img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(8px); /* Blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Navigation styling */
nav {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}

.nav-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
}

.nav-flex-row li {
  text-decoration: none;
  list-style-type: none;
  padding: 20px 15px;
}

.nav-flex-row li a {
  font-family: 'Big Shoulders Text', cursive;
  color: #ffffff;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 300;
}

.container {
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin-top: 50px; 
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

p {
  margin-bottom: 20px;
  color: #666;
}

/* Form styling */
.reservation-form .form-group {
  margin-bottom: 15px;
}

.reservation-form label {
  font-weight: bold;
  color: #333;
}

.reservation-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reservation-form input:focus {
  border-color: #ffd700;
  outline: none;
}

.reservation-form button {
  width: 100%;
  padding: 12px;
  background-color: #ffd700;
  color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservation-form button:hover {
  background-color: #e5c100;
}
